In [1]:
import pandas as pd
from scipy.stats import ttest_ind, norm

In [2]:
data = pd.read_csv("machine3 copia.txt", sep = "\t")
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [4]:
data.rename(columns = {'    Old machine':'Old machine'}, inplace=True)

In [5]:
data.columns

Index(['New machine', 'Old machine'], dtype='object')

In [6]:
old_machine = data['Old machine'].to_numpy()
old_machine

array([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44. , 44.1])

In [7]:
new_machine = data['New machine'].to_numpy()
new_machine

array([42.1, 41. , 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [8]:
ttest_ind(new_machine, old_machine)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)