In [32]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [33]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [34]:
data.describe()

       Etching Rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [37]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [40]:
data.columns = ['Power','Etching']

In [35]:
data.groupby('Power ').agg(np.mean)

        Etching Rate
Power
160 W          5.792
180 W          6.238
200 W          8.318

In [41]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Etching ~ C(Power)',data=data).fit()
table = sm.stats.anova_lm(model)
print(table)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [42]:
data.pivot(columns='Power').describe()

        Etching
Power     160 W     180 W     200 W
count  5.000000  5.000000  5.000000
mean   5.792000  6.238000  8.318000
std    0.319875  0.434304  0.669604
min    5.430000  5.660000  7.550000
25%    5.590000  5.980000  7.900000
50%    5.710000  6.240000  8.150000
75%    6.010000  6.600000  8.790000
max    6.220000  6.710000  9.200000

In [43]:
from scipy.stats import ttest_ind

display_a = data[data['Power'] == 4]['Etching']

for display in data['Power'].unique():
    display_b = data[data['Power'] == display]['Etching']
    print(display, ttest_ind(display_a, display_b))

160 W Ttest_indResult(statistic=nan, pvalue=nan)
180 W Ttest_indResult(statistic=nan, pvalue=nan)
200 W Ttest_indResult(statistic=nan, pvalue=nan)